In [18]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

In [19]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [20]:
 # Query All Records in the the Measurements Table
measurements_df = pd.read_csv("clean_hawaii_measurements.csv")
measurements_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [21]:
 # Query All Records in the stations Table
stations = pd.read_csv("clean_hawaii_stations.csv")

In [22]:
#declarative base

class measurement(Base):
    __tablename__ = 'measurement'
    station = Column(Integer, primary_key=True)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

class station(Base):
    __tablename__ = 'station'
    station = Column(Integer, primary_key=True)
    name = Column(String)
    longitude = Column(Float)
    latitude = Column(Float)
    elevation = Column(Float)

In [27]:
#create all
Base.metadata.create_all(engine)

metadata = MetaData(bind=engine)
metadata.reflect()

In [28]:
#create tables
measurement_table = sqlalchemy.Table('measurements', metadata, autoload=True)
station_table = sqlalchemy.Table('stations', metadata, autoload=True)

NameError: name 'metadata' is not defined

In [25]:
#remove existing daata
conn.execute(station_data.delete())
conn.execute(weather_data.delete())

NameError: name 'station_data' is not defined

In [26]:
#insert data in tables
conn.execute(station_data.insert(), Stations)
conn.execute(weather_data.insert(), Measurements)

NameError: name 'station_data' is not defined

In [ ]:
#fetch first few rows
conn.execute("select * from station limit 5").fetchall()
conn.execute("select * from measurements limit 5").fetchall()